::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: orangered;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(126, 34, 0);
}
/* Style the scrollbar thumb when it's in an active state (e.g., when scrolling) */
::-webkit-scrollbar-thumb:active {
  background: orangered;
}

::-webkit-scrollbar-track {
  background-color: royalblue;
}

::-webkit-scrollbar-track:active {
  background: royalblue;
}
::-webkit-scrollbar-track:hover {
  background: teal;
}

/* Style the scrollbar corner (the intersection between the horizontal and vertical scrollbars) */
::-webkit-scrollbar-corner {
  background: royalblue;
}
