<mat-toolbar color="primary">
  <div
    style="
      letter-spacing: 0.1em;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5em;
    "
  >
    <img src="/assets/icons/icon-72x72.png" alt="App Logo" />
    <span> Todo Application </span>
    <strong>
      {{ title.getTitle() }}
    </strong>
  </div>

  <div style="flex-grow: 1"></div>

  <button
    mat-icon-button
    matTooltip="Logout"
    matTooltipPosition="below"
    (click)="logout()"
    [disabled]="notHaveSession$ | async"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>



<router-outlet></router-outlet>
